@import "colors";

.container {
  margin: 30px 2% 0 2%;
  overflow-y: auto;

  h1 {
    font-size: 1.6rem;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;
    margin-top: 10px;

    background: $hover;
    border-radius: 6px;

    div {
      flex: 1;
    }

    h2 {
      font-size: 22px;
      font-weight: normal;
      color: $primary;
    }

    p {
      color: $secondary;
      opacity: 0.8;
    }

    svg > * {
      color: $dim;
    }
  }
}
