@import "colors";

.container {
  margin: 2rem 2% 0 2%;
  overflow-y: auto;

  padding-bottom: 0.4rem;

  .card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;
    margin-top: 10px;

    background: $hover;
    border-radius: 6px;

    div {
      flex: 1;
    }

    h2 {
      font-weight: normal;
      color: $primary;
    }

    p {
      color: $secondary;
      opacity: 0.8;
    }

    svg > * {
      color: $dim;
    }
  }
}
