@import "colors";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  padding: 2%;
  overflow-y: auto;
}

.section {
  margin-top: 0.4rem;

  background-color: $hover;
  border-radius: 0.3rem;

  * {
    line-height: 1.5rem;
  }

  h1 {
    font-weight: normal;
    text-align: center;
    font-size: 2rem;
    margin: 0;
  }

  h2 {
    font-weight: normal;
    color: $tertiary;
    margin-bottom: 0.5rem;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0.2rem;

    li {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
