@import "colors";

.container {
  p {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    .iconContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 10px;
      border-radius: 4px;
      margin-right: 4px;
      background-color: $hover;
    }

    .actionContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;

      border: none;
      background-color: $active;
      cursor: pointer;

      background-color: $hover;
      padding: 10px;
      border-radius: 4px;
      flex: 1;

      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.7;
      }

      input {
        border: none;
        outline: none;
        flex: 1;
  
        color: $dim;
        background-color: transparent;
      }

      svg {
        margin-left: 10px;
      }
    }
  }
}


