@import "colors";

.container {
  p {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    .iconContainer, button {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 10px;
      border-radius: 4px;
    }

    .iconContainer {
      margin-right: 4px;
      background-color: $hover;
    }

    input {
      border: none;
      outline: none;
      border-radius: 4px;
      flex: 1;
      padding: 12px;

      color: $dim;
      background-color: $hover;
    }

    button {
      margin-left: 4px;

      border: none;
      background-color: $active;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.7;
      }
    }
  }
}


