@import "colors";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  padding: 2%;
  overflow-y: auto;
}

.section {
  margin-top: 0.4rem;

  background-color: $hover;
  border-radius: 0.3rem;

  &.transparent {
    background-color: transparent;
  }

  * {
    line-height: 1.5rem;
    margin: 0;
  }

  h1 {
    font-weight: normal;
    text-align: center;
    font-size: 2rem;
  }

  h2 {
    font-weight: normal;
    color: $tertiary;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.4rem;
  }

  ul {
    margin-bottom: 0.2rem;

    li {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h3,
  ul + p,
  p + ul,
  p + p {
    margin-top: 1.4rem;
  }

  [class~="dim"] {
    color: $tertiary;
  }
}

.rowLink {
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: $active;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    flex: 1;
    margin-right: 0.5rem;
  }

  margin-bottom: 0.2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.signs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  .sign {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 9rem;
    margin: 0.6rem 0;

    .signIconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 80px;
      height: 80px;
      border-radius: 40px;
      margin-bottom: 0.6rem;
      background-color: $active;
    }

    p {
      margin: 0;
      font-size: 1rem;
      text-align: center;
    }
  }
}

.breatheSection {
  & > div {
    margin-top: 1rem;
  }
}
