@import "colors";

.container {
  padding: 10px;
  border-radius: 4px;

  background: $hover;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.7;
  }

  p {
    color: $secondary;
    font-size: 16px;

    margin-right: 20px;
  }
}


