@import "colors";
@import "constants";

.container {
  height: $footer-height;
  background: $hover;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  // style like dock if over max width
  @media screen and (min-width: $app-max-width) {
    // 4px margin on both sides
    width: calc(100% - 8px);

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    // clip so border radius cuts off corners of child buttons
    overflow: hidden;
  }

  // iOS only (avoid persistent home bar)
  @supports (-webkit-touch-callout: none) {
    height: $ios-footer-height;

    p {
      font-size: 16px !important;
    }
  }

  div {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 14px;
      }

      opacity: 0.4;
      &.active {
        opacity: 1;
      }
    }
  }
}
