.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-top: 2rem;
  margin-bottom: 0.5rem;

  position: relative;

  svg {
    position: absolute;
  }
}

.hasBack {
  margin-left: 3rem;
}

.centered {
  text-align: center;
  width: 100%;
  margin-left: 0 !important;
}
