@import "colors";

.container {
  padding: 10px;
  border-radius: 0 0 4px 4px;
  background: $hover;

  p {
    font-size: 17px;

    &.tertiary {
      color: $tertiary;
    }
  }

  h3 {
    margin-top: 12px !important;
    margin-bottom: 0 !important;

    &:first-child {
      margin-top: 0 !important;
    }
  }

  .group {
    margin-top: 4px;
  }
}


