@import "colors";
@import "constants";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: $background;
}

* {
  box-sizing: border-box;
  color: $primary;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h1, h2, h3 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  height: calc(100vh - $footer-height);
  padding: 4px;
  padding-top: 0;
}

[class~="centered"] {
  width: 100%;
  max-width: 500px;

  margin: 0 auto;
}

[class~="hidden"] {
  display: none !important;
}

[class~="horizontal"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

[class~="rowGroup"] {
  & > :first-child {
    max-width: 50%;
    align-self: flex-start;
  }

  & > :last-child {
    flex: 1;
    max-width: 100%;
    text-align: right;
    padding-left: 20px;

    word-break: break-word;
  }
}

[class~="disclaimer"] {
  color: $tertiary;
  font-size: 16px;
  font-style: italic;

  margin-top: 20px;
}

a[class~="disclaimer"] {
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.7;
  }
}
