@import "colors";

.container {
  margin: 2rem 2% 0 2%;
  overflow-y: auto;

  // 0.8rem side padding for scroll bar, 0.4rem bottom
  padding: 0 0.8rem 0.4rem 0.8rem;

  h1,
  h2 {
    margin-bottom: 10px;
  }

  h2 {
    margin-top: 20px;
  }

  .card {
    padding: 12px;
    margin-bottom: 4px;

    background: $hover;
    border-radius: 6px;
  }

  .support > * {
    margin-top: 4px;
  }

  .license {
    display: block;
    margin-top: 3rem;

    p {
      margin-top: 0.4rem;
      color: $tertiary;
    }
  }
}
