@import "colors";

.container {
  margin: 2rem 2% 0 2%;
  overflow-y: auto;

  padding-bottom: 0.4rem;

  h1,
  h2 {
    margin-bottom: 10px;
  }

  h2 {
    margin-top: 20px;
  }

  .card {
    padding: 12px;
    margin-top: 4px;

    background: $hover;
    border-radius: 6px;
  }

  .support > * {
    margin-top: 4px;
  }
}
