@import "colors";

.container {
  padding: 2%;
  overflow-y: auto;

  .appCard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 6px;

    div {
      flex: 1;
    }

    h2 {
      font-weight: normal;
      color: $primary;
    }

    p {
      color: $secondary;
      opacity: 0.8;
    }

    svg > * {
      color: $dim;
    }
  }
}
