$background: #111111;
$off-background: #222222;
$hover: #333333;
$active: #444444;
$dim: #666666;

$primary: #eeeeee;
$secondary: #bbbbbb;
$tertiary: #888888;
$quaternary: #777777;

$light-blue: #42a3b0;
$danger: #ff6961;
$green: #9dd863;
