@import "colors";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: $background;
}

* {
  box-sizing: border-box;
  color: $primary;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h1, h2, h3 {
  margin: 0;
}

main {
  height: 100vh;

  width: 100%;
  max-width: 500px;

  margin: 0 auto;
}

[class~="hidden"] {
  display: none !important;
}

[class~="horizontal"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

[class~="rowGroup"] {
  & > :first-child {
    max-width: 50%;
    align-self: flex-start;
  }

  & > :last-child {
    flex: 1;
    max-width: 100%;
    text-align: right;
    padding-left: 20px;

    word-break: break-word;
  }
}
