@import "colors";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  overflow-y: auto;

  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    min-height: 50px;
    padding: 10px 12px 10px 20px;

    cursor: pointer;

    &:hover {
      background-color: $hover;
    }
    &:active {
      background-color: $active;
    }
  }
}

.substanceContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  padding: 20px;

  height: 100%;
  overflow-y: auto;

  h1 {
    margin: 0;
    font-size: 22px;
    flex-shrink: 1;
  }

  & > :first-child {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .classes {
    font-size: 17px;
    color: $tertiary;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .summary {
    color: $secondary;
    margin-top: 25px;
    margin-bottom: 5px;
  }

  h3 {
    font-style: italic;
    font-size: 18px;
    font-weight: normal;
    color: $dim;

    margin-top: 18px;
    margin-bottom: 4px;
  }

  .roaContainer {
    margin-top: 4px;

    & > div {
      margin-bottom: 6px;
    }
  }

  .group > * {
    margin-top: 4px;
    &:first-child {
      margin-top: 0;
    }
  }

  .interactions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    a {
      margin: 3px;
      padding: 4px;
      border-radius: 3px;

      background: $hover;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.7;
      }
    }
  }

  .disclaimer {
    font-size: 16px;
    font-style: italic;
  }
}
